[Desktop Entry]
Name=NetView
GenericName=Network Monitor & ARP Spoof Detector
Comment=Monitor network, detect ARP spoofing, protect this device
Exec=kitty -e sudo /usr/bin/netview
Icon=netview.png
Type=Application
Terminal=false
StartupNotify=true
Categories=Utility;Security;Network;
