[Desktop Entry]
Name=NetView
GenericName=Network Monitor & ARP Spoof Detector
Comment=Monitor network, detect ARP spoofing, protect this device
Exec=sudo /usr/bin/netview
Icon=none
Terminal=true
StartupNotify=true
Categories=Utility;Security;Network;
